.Groupement-defSection-img {
  position: relative;
}
.pharmadep-image {
  width: 100%;
}
.logo-pharma {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 318px;
  left: 0;
  width: 95px;
  margin: auto;
  background: var(--color-neutral-white);
}

.Home-Promosection-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 249px;
}
