.Home {
  text-align: center;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}
.Home-Introduction {
  position: relative;
}
.Home-Promosection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 602px;
  padding-top: 60px;
  background: rgba(242, 242, 242, 0.7);
}
.Promosection-textContainer {
  width: 225px;
  height: 57px;
}
.Home-Promosection-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Home-Promosection-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 249px;
}

.Home-Articlesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 573px;
  padding-top: 84px;
}
.Home-Articlesection-Title {
  color: var(--color-neutral-grey-2);
  font-size: var(--font-size-med-1);
  font-family: 'Gotham Rounded';
}
.Home-Servicesection-container {
  display: flex;
  justify-content: center;
  height: 464px;
}
.Home-Servicesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 329px;
  height: 410px;
  padding-top: 68px;
}
.Servicesection-textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  width: 225px;
  height: 102px;
}
.Home-Servicesection-title {
  display: flex;
  flex-direction: column;
}
.IconsList-container {
  width: 94%;
}
.Home-Promosection-title {
  position: absolute;
  right: 0;
  bottom: -69px;
}

@media only screen and (min-width: 448px) {
  .Home-Promosection-Cardlist {
    width: 369px;
    padding-left: 35px;
  }

  .Home-Promosection-title {
    position: absolute;
    right: 0;
    bottom: -56px;
  }

  .Home-Promosection {
    height: 653px;
  }
}

@media only screen and (min-width: 725px) {
  .Home-Promosection-contain {
    display: flex;
    flex-direction: row;
  }

  .Home-Servicesection-container {
    height: 313px;
  }

  .Home-Promosection-Cardlist {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .Home-Articlesection {
    /* height: 573px; */
    padding-top: 76px;
  }
  .Home-Promosection {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 321px;
  }

  .Home-Promosection-info {
    flex: 1;
    align-items: flex-start;
    padding: 77px;
  }
  .Home-Promosection-title {
    position: absolute;
    right: 0;
    bottom: -63px;
  }
  .Home-Servicesection {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    height: 313px;
    padding: 72px 20px;
  }
  .Servicesection-textContainer {
    flex: 1;
    align-self: end;
    height: 110px;
  }
  .Home-ServicesectionIcont-cont {
    display: flex;
    flex: 2;
    align-items: center;
    height: 173px;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: 113px;
  }
  .Promosection-textContainer {
    height: 94px;
  }
  .Home-Articlesection-Title {
    font-size: var(--font-size-med-2);
  }
}

@media only screen and (min-width: 752px) {
  .Home-Articlesection {
    height: 396px;
    padding-top: 76px;
  }
}

@media only screen and (min-width: 960px) {
  .Home-Promosection {
    display: flex;
    height: 429px;
  }
  .Home-Articlesection {
    height: 423px;
  }
  .Servicesection-textContainer {
    height: 149px;
  }
  .Home-Promosection-Cardlist {
    /* width: 57%; */
    display: flex;
    flex: 2;
    justify-content: center;
    padding-top: 100px;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: 126px;
  }

  .Promosection-textContainer {
    width: 90%;
    height: 145px;
  }
  .Home-Articlesection-Title {
    font-size: var(--font-size-large);
  }

  .Home-Servicesection {
    padding: 72px 68px;
  }
  .Home-Promosection-info {
    height: 362px;
  }
}

@media only screen and (min-width: 1120px) {
  .Home-Promosection-Cardlist {
    /* width: 57%; */
    display: flex;
    flex: 1;
    padding-top: 115px;
  }

  .Home-Promosection {
    height: 448px;
    padding-left: 77px;
  }
  .Home-Articlesection {
    height: 548px;
  }
  .Servicesection-textContainer {
    height: 149px;
  }
  .Home-Promosection-Cardlist {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: 97px;
  }
  .Home-Promosection-info {
    flex: 1;
    height: 326px;
    padding-top: 0px;
  }
  .Home-Servicesection {
    padding-top: 94px;
    padding-right: 90px;
    padding-left: 98px;
  }
  .Home-Servicesection-container {
    height: 366px;
  }
}

@media only screen and (min-width: 1580px) {
  /* .Home-Servicesection-container{
   padding:0 146px
  } */
}
