.Home {
  text-align: center;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources > li {
  display: inline-block;
  padding: 1rem;
}
.Home-Introduction {
  position: relative;
}
.Home-Promosection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 640px;
  padding-top: 60px;
  background: rgba(242, 242, 242, 0.7);
}
.Promosection-textContainer {
  width: 225px;
  height: 57px;
}
.Home-Promosection-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Home-Promosection-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 249px;
}

.Home-Articlesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 573px;
  padding-top: 17px;
}
.Home-Articlesection-Title {
  color: var(--color-neutral-grey-2);
  font-size: var(--font-size-med-1);
  font-family: 'Gotham Rounded';
}
.Home-Servicesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 364px;
  padding-top: 94px;
}
.Servicesection-textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: inherit;
  width: 225px;
  height: 102px;
}
.Home-Servicesection-title {
  display: flex;
  flex-direction: column;
}
.IconsList-container {
  width: 94%;
}
.Home-Promosection-title {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (min-width: 448px) {
  .Home-Promosection-Cardlist {
    width: 369px;
    padding-left: 35px;
  }

  .Home-Promosection-title {
    position: absolute;
    right: 0;
    bottom: -9px;
  }
}
@media only screen and (min-width: 725px) {
  .Home-Promosection-Cardlist {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  .Home-Articlesection {
    height: 573px;
    padding-top: 76px;
  }
  .Home-Promosection {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 321px;
  }

  .Home-Promosection-info {
    flex: 1;
    align-items: flex-start;
    padding: 77px;
  }
  .Home-Promosection-title {
    position: absolute;
    right: 0;
    bottom: -63px;
  }
  .Home-Servicesection {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 313px;
    padding: 0 72px;
  }
  .Servicesection-textContainer {
    flex: 1;
    align-self: end;
    height: 110px;
  }
  .Home-ServicesectionIcont-cont {
    display: flex;
    flex: 2;
    align-items: center;
    height: 173px;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: -15px;
  }
  .Promosection-textContainer {
    height: 94px;
  }
  .Home-Articlesection-Title {
    font-size: var(--font-size-med-2);
  }
}
@media only screen and (min-width: 960px) {
  .Home-Promosection {
    display: flex;
  }
  .Home-Articlesection {
    height: 587px;
  }
  .Servicesection-textContainer {
    height: 149px;
  }
  .Home-Promosection-Cardlist {
    /* width: 57%; */
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: -15px;
  }

  .Promosection-textContainer {
    width: 90%;
    height: 95px;
  }
  .Home-Articlesection-Title {
    font-size: var(--font-size-large);
  }
}

@media only screen and (min-width: 1120px) {
  .Home-Promosection-Cardlist {
    /* width: 57%; */
    display: flex;
    flex: 1;
  }

  .Home-Promosection {
    height: 448px;
    padding-left: 77px;
  }
  .Home-Articlesection {
    height: 587px;
  }
  .Servicesection-textContainer {
    height: 149px;
  }
  .Home-Promosection-Cardlist {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
  .Home-Servicesection-title {
    position: absolute;
    right: 36%;
    bottom: -15px;
  }
  .Home-Promosection-info {
    flex: 1;
    height: 398px;
  }
}

@media only screen and (min-width: 1580px) {
  .Home-Servicesection-title {
    right: 39%;
    bottom: -18px;
  }
  /* .Home-Promosection-info {
    height: 331px;
    flex: 1;
  } */
}
