@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/gothamroundedlight_21020.ttf');
}
.ArticleListe-container {
  display: flex;
  flex-wrap: wrap;
}

.ArticleCard-container {
  width: 235px;
  height: 312px;
  margin-right: 27px;
  margin-bottom: 27px;
  padding: 5px;
  background: #ffffff;
  border: 1px solid transparent;
}
.ArticleCard-container:hover {
  border: 1px solid yellow;
}

.ArticleCard-imgContainer {
  width: 235px;
  height: 212px;
  background: url('../images/imageArticle.png');
}
.ArticleCard-hr {
  width: 50px;
  margin-left: 10px;
  border: 2px solid #ecda38;
}
.ArticleCard-text {
  padding: 10px;
  color: #707070;
  font-size: 14px;
  font-family: 'Gotham Rounded';
}
