.ArticleListe-container {
  display: flex;
  flex-wrap: wrap;
  width: 362px;
  margin-bottom: 20px;
}

.ArticleCard-container {
  margin-top: 10px;
  margin-right: 9px;
  padding: 5px;
  background: var(--color-neutral-white);
  border: 1px solid var(--color-grey-light);
  border: 1px solid;
  box-shadow: 0px 3px 2px 0px var(--color-grey-light);
}

.ArticleCard-containerShort {
  width: 160px;
  height: 210px;
}

.ArticleCard-containerLong {
  width: 160px;
  height: 239px;
}
.ArticleCard-container:hover {
  border: 1px solid var(--color-brand-yellow);
}

.ArticleCard-imgShort {
  width: 159px;
  height: 144px;
}
.ArticleCard-imgLong {
  width: 159px;
  height: 164px;
}
.ArticleCard-hr {
  width: 36px;
  margin-left: 10px;
  border: 2px solid var(--color-brand-yellow);
}
.ArticleCard-text {
  padding-left: 11px;
  color: var(--color-neutral-grey-2);
  font-weight: 600;
  font-size: var(--font-size-sm);
  font-family: 'Gotham Rounded';
}
@media only screen and (min-width: 752px) {
  .ArticleListe-container {
    justify-content: center;
    width: 100%;
  }
  .ArticleCard-container {
    margin-right: 12px;
  }
}

@media only screen and (min-width: 1120px) {
  .ArticleCard-containerShort {
    width: 236px;
    height: 312px;
  }
  .ArticleCard-containerLong {
    width: 236px;
    height: 352px;
  }

  .ArticleCard-imgShort {
    width: 236px;
    height: 212px;
  }
  .ArticleCard-imgLong {
    width: 236px;
    height: 243px;
  }
  .ArticleCard-text {
    padding-left: 11px;
    font-weight: 600;
    font-size: var(--font-size-med);
  }
}
