ul.MuiList-root.MuiList-padding {
  position: absolute;
  top: 12px;
  left: -5px;
  width: 100%;
  background: green;
}

.DropDown-container {
  width: 42px;
  height: 13px;
}
.DropDown-MenuList-Container {
  width: 44px;
  height: 44px;
  background: var(--color-brand-green);
}
.DropDown-OpenMenueBtn {
  width: 50px;
  height: 56px;
  background: var(--color-brand-green);
}

.DropDown-ExitMenueBtn {
  width: 50px;
  height: 56px;
  background: var(--color-brand-green);
}

.DropDown-MenurList {
  width: 100%;
}
