.Footer {
  display: flex;
  justify-content: space-evenly;
  height: 228px;
  padding: var(--spacing);
  padding: 60px;
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-grey);
}
.Footer-resp {
  display: none;
}
.Footer-list {
  list-style: none;
}
.Footer-list-item {
  margin-bottom: 9px;
  font-family: 'Roboto';
}

.hr-footer {
  width: 12px;
  height: 160px;
  border: none;
  border-left: 1px solid white;
}
.title-list-item {
  margin-bottom: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}
.FooterCopyright {
  margin-top: 30px;
}
.Footer-texcopyrigth {
  margin-bottom: -10px;
}
.Footer-logo-resp {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.Footer-copyright-resp {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.Footer-secondlogo {
  display: flex;
  justify-content: center;
  width: 49px;
  height: 49px;
  background: white;
  border-radius: 423423px;
}
.Footer-logosContainer {
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  .Footer {
    display: none;
  }
  .Footer-res-dosplay {
    display: flex;
    justify-content: space-evenly;
    height: 228px;
    padding: var(--spacing);
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-grey);
  }
  .Footer-resp {
    display: flex;
    flex-direction: column;
    height: 370px;
  }
  .Footer-logosContainer {
    display: flex;
  }
  .none-res {
    display: none;
  }
  .Footer-secondlogo {
    width: 75px;
  }
  .Footer-logo {
    width: 123px;
  }
}

@media only screen and (max-width: 500px) {
  .Footer-texcopyrigth {
    font-size: 12px;
  }
  .Footer-logo {
    width: 95px;
  }
}
