.Header-top {
  display: flex;
  justify-content: space-around;
  padding: var(--spacing);
}
.Header-resp-toggle {
  display: none;
}
.Header-top-link {
  display: flex;
  flex: 1;
  align-items: baseline;
  justify-content: space-around;
}
.Header-top-logo {
  flex: 1;
}
.Header-hr {
  width: 12px;
  height: 57px;
  border: none;
  border-left: 0.75px solid #cfd2d1;
}
.Header-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.Header-menu {
  padding: var(--spacing);
  background-color: var(--color-brand-green);
}

.Header-menu-list {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  list-style-type: none;
}

.Header-menu-item {
  align-items: center;
  padding-right: var(--spacing-small);
  color: var(--color-neutral-white);
  font-size: var(--font-size-med);
  font-size: 16px;
  font-family: 'Gotham Rounded';
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.Header-menu-item:hover {
  color: var(--color-brand-yellow);
}
.Header-link-logo {
  margin-right: 9px;
}

@media only screen and (max-width: 900px) {
  .Header-top {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    padding-right: 0;
    padding-left: 0;
  }
  .Header-top-link {
    justify-content: space-evenly;
    background: #f6f6f6;
  }
  .Header-top-logo {
    align-self: center;
  }
  .Header-menu {
    display: none;
  }
  .Header-resp-toggle {
    display: block;
  }
  #menu-list-grow {
    width: 100%;
  }

  .Header-hr {
    width: 12px;
    height: 26px;
    border: none;
    border-left: 0.75px solid #cfd2d1;
  }
  .Header-link-container {
    margin-top: 11px;
  }
  .Header-hr-res {
    align-self: center;
  }
}

@media only screen and (max-width: 500px) {
  .Header-link-container {
    width: 120px;
  }
  .Header-logo {
    height: 39px;
  }
}
