.Header {
  position: relative;
  z-index: 122;
}
.Header-top {
  display: flex;
  justify-content: space-around;
  padding: var(--spacing);
}
.Header-resp-toggle {
  display: none;
}
.Header-top-link {
  display: flex;
  margin-left: 33px;
}

.Header-hr {
  width: 12px;
  height: 57px;
  border: none;
  border-left: 0.75px solid #cfd2d1;
}
.Header-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-left: 30px;
}
.Header-menu {
  padding: var(--spacing);
  background-color: var(--color-brand-green);
}

.Header-menu-list {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  list-style-type: none;
}

.Header-menu-item {
  align-items: center;
  padding-right: var(--spacing-small);
  color: var(--color-neutral-white);
  font-size: var(--font-size-med);
  font-size: 16px;
  font-family: 'Gotham Rounded';
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
}

.Header-menu-item:hover {
  color: var(--color-brand-yellow);
}
.Header-link-logo {
  margin-right: 9px;
}
.Header-top-logo {
  flex: 2;
}

.HeaderLink {
  margin-right: 10px;
  font-weight: bold;
  font-size: var(--font-size-med-2);
}
@media only screen and (max-width: 960px) {
  .Header-menu-item {
    font-size: var(--font-size-sm);
  }
  .HeaderLink {
    margin-right: 10px;
    font-weight: bold;
    font-size: var(--font-size-med);
  }
  .Header-top-logo {
    flex: 2;
  }
  .Header-top-link {
    flex: 3;
    margin-right: 0px;
  }
  .Header-link-container {
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 752px) {
  .Header-top {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    padding: 0;
    padding-top: 16px;
  }
  .HeaderLink {
    font-weight: bold;
    font-size: var(--font-size-sm-2);
  }
  .Header-top-link {

    justify-content: space-between;
    margin: 0;
    background: #f6f6f6;
  }
  .Header-top-logo {
    align-self: center;
  }
  .Header-menu {
    display: none;
  }
  .Header-resp-toggle {
    display: block;
  }
  #menu-list-grow {
    width: 100%;
  }

  .Header-hr {
    width: 12px;
    height: 26px;
    border: none;
    border-left: 0.75px solid #cfd2d1;
  }
  .Header-link-container {
    margin-top: 11px;
    margin-right: 20px;
  }
  .Header-hr-res {
    align-self: center;
  }
}

@media only screen and (max-width: 448px) {
  .Header-link-container {
    margin-right: 10px;
    margin-left: 0;
  }
  .Header-logo {
    height: 39px;
  }
  .Header-top-link {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .HeaderLink {
    font-weight: bold;
    font-size: 10px;
  }
}
