.ImgContainer {
  position: relative;
  width: 100%;
  height: 149px;
}

.ImgComponent-text {
  display: NONE;
}

.Img-Smile-Container {
  position: absolute;
  right: 89px;
  bottom: 59px;
  width: 56px;
  height: 23px;
  background: url('../icons/Smile.png');
  background-size: cover;
}

@media only screen and (min-width: 448px) {
  .ImgContainer {
    height: 250px;
  }

  .Img-Smile-Container {
    position: absolute;
    right: 219px;
    bottom: 116px;
    width: 196px;
    height: 72px;
    background: url('../icons/Smile.png');
    background-size: cover;
  }
}
@media only screen and (min-width: 752px) {
  .ImgContainer {
    height: 317px;
  }

  .GreenTitle-container {
    width: 188px;
    height: 6px;
    padding: 20px 24px;
    background: var(--color-brand-green);
  }
  .GreenTitle-text {
    margin: 0;
    color: var(--color-brand-yellow);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gotham Rounded';
    line-height: 39%;
  }
}

@media only screen and (min-width: 960px) {
  .ImgContainer {
    height: 100%;
  }
  .ImgComponent-text {
    position: absolute;
    top: 31%;
    display: block;
    display: flex;
    flex-direction: column;
  }
  .ImgComponent-container {
    position: relative;
    height: 438px;
  }
}

@media only screen and (min-width: 1120px) {
  .ImgComponent-container {
    position: relative;
    height: 438px;
  }
  .ImgComponent-text {
    top: 31%;
  }
  .ImgContainer {
    height: 100%;
  }
}
