.Partners-hoverdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  margin-right: 20px;
  border-radius: var(--border-radius);
}
.Partners-hr {
  width: 32px;
}

.Partners-title {
  margin: 0;
  color: var(--color-neutral-grey);
  font-weight: bold;
  font-size: var(--font-size-xs);
}
.Partners-text {
  margin: 0;
  /* margin-bottom: 20px; */
  color: var(--color-neutral-grey-1);
  font-size: var(--font-size-xxs);
}
.Partner-pluscircle {
  width: 8px;
}

/* green component */
.Partners-hoverdivgreen {
  background: var(--color-brand-green);
}
.Partners-hrgreen {
  border: 1px solid var(--color-neutral-white);
}

/* greenlight component */
.Partners-hoverdivgreenlight {
  background: var(--color-brand-green-light);
}
.Partners-hrgreenlight {
  border: 1px solid var(--color-brand-green);
}

/* yellow component */
.Partners-hoverdivyellow {
  background: var(--color-brand-yellow);
}
.Partners-hryellow {
  border: 1px solid var(--color-neutral-white);
}

/* greenlight component */
.Partners-hoverdivyellowlight {
  background: var(--color-brand-yellow-light);
}
.Partners-hryellowlight {
  border: 1px solid var(--color-brand-yellow);
}

@media only screen and (min-width: 960px) {
  .Partners-hoverdiv {
    width: 147px;
    height: 147px;
  }
  .Partners-hr {
    width: 48px;
  }
  .Partners-title {
    font-size: var(--font-size-sm-1);
    line-height: 16px;
  }
  .Partners-text {
    font-size: var(--font-size-xs);
  }
  .Partner-pluscircle {
    width: 12px;
    margin-top: 13px;
  }
}
