.Partners-container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  padding: var(--spacing-large) var(--spacing-large);
}

.Partners-logo {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: var(--color-neutral-white);
  border-radius: var(--border-radius);
}

.Partners-logo:hover {
  opacity: 0;
}

.Partners-itemhover {
  display: flex;
}
