.PromoCard-container {
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 136px;
  margin: 5px;
  padding: 3px;
  background: var(--color-neutral-white);
  border: 1px solid #cfd2d1;
}
.PromoCard-img {
  align-self: center;
  width: 66px;
  height: 70px;
}
.PromoCard-zoom {
  align-self: flex-end;
  width: 8px;
  height: 9px;
}

.PromoCard-coeur {
  align-self: center;
  width: 7px;
  height: 6px;
}

.PromoCard-title {
  align-self: center;
  margin-top: 0;
  color: var(--color-brand-green);
  font-size: 5.5px;
  font-family: 'Gotham Rounded';
  line-height: 7px;
}

.PromoCard-text {
  align-self: center;
  margin-top: 0;
  color: #cfd2d1;
  font-size: 5.5px;
  font-family: 'Gotham Rounded';
  text-align: center;
}

.PromoCard-hr {
  align-self: center;
  width: 12px;
  margin: 0;
  background: #cfd2d1;
  border: 1px solid #cfd2d1;
}

.PromoCard-price {
  align-self: center;
  margin-top: 0;
  color: #044435;
  font-size: var(--font-size-sm);
  font-family: 'Gotham Rounded';
}

/* @media only screen and (min-width: 960px) {
  .PromoCard-container {
    width: 148px;
    height: 212px;
  }
} */

@media only screen and (min-width: 960px) {
  .PromoCard-container {
    width: 148px;
    height: 218px;
    padding-bottom: 5px;
  }
  .PromoCard-img {
    width: 102px;
    height: 110px;
  }
  .PromoCard-zoom {
    width: 12px;
    height: 16px;
  }
  .PromoCard-coeur {
    width: 11px;
    height: 10px;
  }

  .PromoCard-title {
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 13px;
  }

  .PromoCard-text {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: var(--font-size-sm);
  }

  .PromoCard-hr {
    width: 20px;
    margin-top: 0;
  }

  .PromoCard-price {
    margin-top: 3px;
    font-size: var(--font-size-md);
  }
}
