.SearchBar-container {
  position: absolute;
  top: 79%;
  right: 0;
  bottom: 0;
  /* left: 5%;  */
  left: 0;
  z-index: 43;
  display: flex;
  width: 350px;
  height: 42px;
  margin: auto;
  margin-top: 10px;
  background: var(--color-neutral-white);
  border-radius: 2px;
  box-shadow: 0px 4px 11px -6px var(--color-neutral-grey-2);
}

.SearchBar {
  display: flex;
  flex-direction: column;
  width: 751px;
  height: 24px;
  padding: 9px;
  background: var(--color-neutral-white);
  border-radius: 2px;
}

.SearchBar-text {
  color: var(--color-brand-green);
  font-weight: bold;
  font-size: var(--font-size-sm);
  font-family: 'Gotham Rounded';
  text-shadow: 0px 0px 1px;
}
.SearchBar-Input {
  border: none;
}

.SearchBar-Input:focus {
  outline: none;
}

.SearchBar-group-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  background: #ecda38;
  border: none;
  border-radius: 2px;
  outline: none;
}
.SearchBar-group-Button:hover {
  background: #e4c000;
}

::placeholder {
  color: var(--color-neutral-grey-2);
  font-size: var(--font-size-med);
  font-family: Arial;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-neutral-grey-2);
  font-size: var(--font-size-med);
  font-family: Arial;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-neutral-grey-2);
  font-size: var(--font-size-med);
  font-family: Arial;
}
@media only screen and (min-width: 448px) {
  .SearchBar-container {
    top: 81%;
    border-radius: 2px;
    box-shadow: 0px 4px 11px -6px var(--color-neutral-grey-2);
  }
}

@media only screen and (min-width: 752px) {
  .SearchBar-container {
    top: 86%;
    border-radius: 2px;
    box-shadow: 0px 4px 11px -6px var(--color-neutral-grey-2);
  }
}

@media only screen and (min-width: 960px) {
  .SearchBar-container {
    position: absolute;
    top: 89%;
    z-index: 43;
    width: 820px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0px 4px 11px -6px var(--color-neutral-grey-2);
  }
  .SearchBar-group-Button {
    width: 52px;
  }
}

@media only screen and (min-width: 1120px) {
  .SearchBar-container {
    top: 93%;
    border-radius: 2px;
    box-shadow: 0px 4px 11px -6px var(--color-neutral-grey-2);
  }
}
