.WhiteTitle-Container {
  display: inline-block;
  height: 19px;
  padding: 11px 25px;
  background: #ffffff;
}

.WhiteTitle-text {
  margin: 0;
  color: #11a63c;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Gotham Rounded';
  line-height: 73%;
}
